.tooltip-container {
    position: relative;
  }
  
  .tooltip-text {
    cursor: pointer;
  }
  
  .tooltip {
    white-space: nowrap;
    position: absolute;
    top: -35px;
    left: 100px;
    transform: translateX(-50%);
    background-color: #6D6D6D;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }